:root {
    --neutral-body-bg-color: #221e38;
    --neutral-div-bg-color: #443c6f;
    --neutral-nav-bg-color: #8877dd;
    --neutral-light-color: #aa88ff;
}

body {
    background-color: var(--neutral-body-bg-color);
}

div.post {
    background-color: var(--neutral-div-bg-color);
    border-top: 15px ridge var(--neutral-light-color);
    color: white;
}

button.btn {
    /*background-color: var(--neutral-nav-bg-color);*/
}

nav.navbar {
    background-color: var(--neutral-nav-bg-color);
}