:root {
    --neutral-body-bg-color: #221e38;
    --neutral-div-bg-color: #443c6f;
    --neutral-nav-bg-color: #8877dd;
    --neutral-light-color: #aa88ff;
    --btn-like: #64d200;
    --btn-dislike: #ff4646;
}

body {
    background-color: var(--neutral-body-bg-color);
}

button.btn.btn-outline-like, a.btn.btn-outline-like, .btn.btn-outline-like {
    border-color: var(--btn-like);
    color: var(--btn-like);
}

button.btn.btn-outline-like:hover, a.btn.btn-outline-like:hover, .btn.btn-outline-like:hover {
    color: black;
    background-color: var(--btn-like);
}

button.btn.btn-outline-dislike, a.btn.btn-outline-dislike, .btn.btn-outline-dislike {
    border-color: var(--btn-dislike);
    color: var(--btn-dislike);
}

button.btn.btn-outline-dislike:hover, a.btn.btn-outline-dislike:hover, .btn.btn-outline-dislike:hover {
    color: black;
    background-color: var(--btn-dislike);
}

button.btn.btn-load, a.btn.btn-load, .btn.btn-load {
    background-color: var(--neutral-nav-bg-color);
    border-color: var(--neutral-nav-bg-color);
    color: white;
}

button.btn.btn-load:hover, a.btn.btn-load:hover, .btn.btn-load:hover {
    background-color: var(--neutral-div-bg-color);
}

nav.navbar {
    background-color: var(--neutral-nav-bg-color);
    /*border-image: linear-gradient(to right, red, var(--neutral-nav-bg-color)) 1 100%;
    border-bottom-style: solid;
    border-bottom-width: 5px;*/
}

div.modal-header.cosmos-modal {
    border-color: var(--neutral-nav-bg-color);
}

div.modal-footer.cosmos-modal {
    border-color: var(--neutral-nav-bg-color);
}