:root {
    --body-bg: #221e38;
    --div-bg: #443c6f;
    --nav-bg: #8877dd;
    --neutral-light-color: #aa88ff;
    --btn-like: #64d200;
    --btn-dislike: #ff4646;
}

div.post {
    background-color: var(--div-bg);
    border-top: 15px ridge var(--neutral-light-color);
    color: white;
}

img.object-fit-cover {
    object-fit: cover;
}

label {
    color: white;
}