:root {
    --neutral-body-bg-color: #221e38;
    --neutral-div-bg-color: #443c6f;
    --neutral-nav-bg-color: #8877dd;
    --neutral-light-color: #aa88ff;
    --btn-like: #64d200;
    --btn-dislike: #ff4646;
}

div.post {
    background-color: var(--neutral-div-bg-color);
    border-top: 15px ridge var(--neutral-light-color);
    color: white;
}

img.object-fit-cover {
    object-fit: cover;
}

label {
    color: white;
}