:root {
    --body-bg: #221e38;
    --div-bg: #443c6f;
    --nav-bg: #8877dd;
    --neutral-light-color: #aa88ff;
}

body {
    background-color: var(--body-bg);
}

div.post {
    background-color: var(--div-bg);
    border-top: 15px ridge var(--neutral-light-color);
    color: white;
}

label {
    color: white;
}

a {
    /*background-color: var(--neutral-nav-bg-color);*/
}

nav.navbar {
    background-color: var(--nav-bg);
}