<!-- Navbar -->
  <nav class="navbar shadow fixed-top cosmos-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'landing' %}" style="color: white;"><i class="bi bi-moon-stars-fill"></i>&nbsp;&nbsp;Cosmos</a>
        <div class="d-flex align-self-end">
            <h5 class="align-self-center m-1"><span class="badge badge-light justify-self-right">Logged in as {{ current_user.username }}</span></h5>
            <a class="fw-bold m-1 btn btn-light" href="{% url 'create_post' %}">Make a Post</a>
            <a class="fw-bold m-1 btn btn-light" href="{% url 'edit_user' %}">Edit Profile</a>
            <a class="fw-bold btn btn-light m-1" href="{% url 'logout' %}">Logout?</a>
        </div>
    </div>
  </nav>

  <!-- Navbar Spacer -->
  <div class="mb-3" style="height:50px;"></div>