{% load static %}

<div class="col-6 rounded shadow m-3 p-3 post" data-cosmos-post="{{ post.id }}">

  <!-- Post Header -->
  <div class="row m-2 mb-3">

    <!-- Pfp -->
    <div class="col-2 d-flex px-0">
      <a href="{% url 'queryUser' post.user_id%}">
        <img src="{{ post.user.profile.pro_pic.url }}" alt="user profile picture" class="rounded-circle img-fluid pro-pic-{{ post.user_id }}">
      </a>
    </div>

    <!-- Username / Date Posted -->
    <div class="col d-flex align-items-center">
      <div>
        <a class="text-white text-decoration-none" href="{% url 'queryUser' post.user_id%}">
          <h3>{{ post.user.username }}</h3>
        </a>
        <h6 class="">{{ post.posted_at }}</h6>
      </div>
    </div>

    <!-- Dropdown Menu -->
    <div class="col d-flex justify-content-end p-0">
      <div class="dropdown d-flex btn-group h-50">
        {% if post.user != current_user %}
          <button class="btn btn-load">Follow</button>
        {% endif %}
        <button class="btn btn-load dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu dropdown-menu-center dropdown-menu-primary">
          <li class="user-select-none"><span onclick="copyPostLink({{ post.id }})" class="dropdown-item">Share</span></li>
          {% if post.user == current_user %}
            <li class="user-select-none"><span class="dropdown-item">Delete</span></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <hr>

  <!-- Post Body -->
  <div class="row m-2">
    <p class="lead fs-4">{{ post.post_body }}</p>
  </div>

  <!-- Post Image -->
  <!--div class="row m-2">
    <img src="http://placekitten.com/1080/720" alt="" class="rounded border p-0">
  </div-->
  <hr>

  <!-- Post Controls -->
  <div class="row d-flex mt-4 justify-content-between">
    <!-- Like -->
    <div class="col d-flex justify-content-center p-0">
      <button class="btn btn-outline-like" data-cosmos-disable-delay data-cosmos-disable-delay-duration="750" onload="getLikes({{ post.id }})" onclick="setLikes({{ post.id }}, {{ current_user.id }})" style="height:48px;font-size:1.5em;">
        <i class="bi bi-hand-thumbs-up-fill"></i>
        <span id="{{ post.id }}-likes"></span>
      </button>
    </div>
    <!-- Dislike -->
    <div class="col d-flex justify-content-center p-0">
      <button class="btn btn-outline-dislike" data-cosmos-disable-delay data-cosmos-disable-delay-duration="750" onload="getDislikes({{ post.id }})" onclick="setDislikes({{ post.id }}, {{ current_user.id }})" style="height:48px;font-size:1.5em;">
        <i class="bi bi-hand-thumbs-down-fill"></i>
        <span id="{{ post.id }}-dislikes"></span>
      </button>
    </div>
    <!-- Thread -->
    <div class="col d-flex justify-content-center p-0">
      <a class="btn btn-outline-info" href="{% url 'query_post' post.id %}" style="height:48px;font-size:1.5em;">
        <span class="bi bi-chat-square-quote-fill"></span>
      </a>
    </div>
    <!-- Reply -->
    <div class="col d-flex justify-content-center p-0">
      <a class="btn btn-outline-warning" href="{% url 'create_reply' post.id %}" style="width:48px;height:48px;font-size:1.5em;">
        <i class="bi bi-reply-fill"></i>
      </a>
    </div>
  </div>

  <!-- Initialize Post -->
  <script>retrievePostReactions({{ post.id }})</script>
</div>