{% extends 'cosmos/base-head.html' %}

{% block title %}
  Join The Cosmos
{% endblock %}

{% block body %}
  {% load crispy_forms_tags %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 rounded shadow post p-5">
        <h2 class="text-center">Join The Cosmos</h2>
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Register" class="btn btn-warning">
        </form>
      </div>
    </div>
  </div>
{% endblock %}